:host {
  height: 100vh;
  width: 100vw;
  display: inline-block;
}

.container {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  background: #E9EBEB;
}

.frame {
  background: #262939;
}

.restart {
  margin-top: 24px;
  width: 80px;
  height: 40px;
  background: white;
  border: 1px solid #262939;
  border-radius: 3px;
  cursor: pointer;
}

.timer {
  margin-bottom: 5px;
}

.title {
  font-size: 40px;
  margin-bottom: 20px;
}
