:host {
  height: 100vh;
  width: 100vw;
  display: inline-block;
}

.container {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  background: gray;
}

.frame {
  background: #262939;
}
