.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #262939;
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
}

.not-revealed {
  background: #7ED6FF;
  box-shadow: inset 0 0 3px 3px #63AFFF;
}

.revealed {
  background: #FFFFFF;
  box-shadow: inset 0 0 3px 3px #D8D9D9;
}

.bomb {
  background: #E30F4E;
}

.number {
  font-weight: 700;
}

.one {
  color: #14A6C5;
}

.two {
  color: #5C7918;
}

.three {
  color: #D31A65;
}

.four {
  color: #0A17DE;
}

.five {
  color: #8E403A;
}

.six {
  color: #257A7A;
}

.seven {
  color: black;
}

.eight {
  color: gray;
}
