<div class="cell d-flex justify-content-center align-items-center"
    [ngClass]="{ 'not-revealed': !cell.revealed,
                 'revealed': cell.revealed && !cell.hasBomb,
                 'bomb': cell.revealed && cell.hasBomb }">
  <img *ngIf="cell.hasBomb && (cell.revealed || userDied)" src="assets/bomb.png">
  <span *ngIf="cell.adjacentBombs === 1 && cell.revealed" class="one number">1</span>
  <span *ngIf="cell.adjacentBombs === 2 && cell.revealed" class="two number">2</span>
  <span *ngIf="cell.adjacentBombs === 3 && cell.revealed" class="three number">3</span>
  <span *ngIf="cell.adjacentBombs === 4 && cell.revealed" class="four number">4</span>
  <span *ngIf="cell.adjacentBombs === 5 && cell.revealed" class="five number">5</span>
  <span *ngIf="cell.adjacentBombs === 6 && cell.revealed" class="six number">6</span>
  <span *ngIf="cell.adjacentBombs === 7 && cell.revealed" class="seven number">7</span>
  <span *ngIf="cell.adjacentBombs === 8 && cell.revealed" class="eight number">8</span>
</div>
